
	body
	{
		font-family: Arial;
	    margin: 0 auto;		 
        background-color:#F0F0F0;
	}
	
	hr.filterStyle 
	{ 
		border: 0;
		height: 0;
		border-top: 1px solid rgba(0, 0, 0, 0.1);
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
	
	hr.upsightLogo
	{
		border: 0;
		height: 3px;
		background: #fcaf5a;
	}
	/*
    #header 
	{
	  
        background-color:#4a3b61;
		color:white;
		height: 3%;
		width: 99.25%;
		text-align:right;
		padding:5px;
	}
	*/
	.headBtns
	{
		float:right;
		margin-right: 5px;
		margin-left: 5px;
	}
	
	#navBar
	{
	
		line-height:30px;
		background: linear-gradient(to bottom, #f15d3f , #fcaf5a);
		height: 100%;
		width: 171px;
		float:left;
        color:white;
	}
	
	.navBtns /*menu groups are required*/
	{
		float:top;
		margin: 3px;
	}
	
	#contentContainter 
	{
	
		width: 85.5%;
		float: left;	
	}
	
	#boxMenu
	{
	
		width: 99%;
		margin-top: 1%;
		margin-left: 1%;
		margin-right: 1%;
		margin-bottom: .5%;
		height: 80px;
		float:top;
		padding:10px;
		background-color:#ffffff;
		box-shadow: 0px 0px 1px #707070;
	}
	
	#filterContainer
	{
	
		margin-left: .5%;
		margin-right .5%;
		width: 101.7%;
		float:top;
		background-color:#ffffff; /* To be removed */
		box-shadow: 0px 0px 1px #707070 ;/* To be removed */
	}
	
	#filterBox
	{
	
		width: 49%;
		height: 270px;
		margin: .5%;
		float: left;
		background-color:#ffffff;
		box-shadow: 0px 0px 1px #707070 ;
	}
	
	.filterTitleText
	{
		margin: 2%;
		text-align: center-left'
	}
	
	#chartButton
	{
	
	  background-color: #49a240;
	  padding: 5px;
      border-radius: 5px;
      border: 2px solid #419039;
	  align: middle;
	  
	  -webkit-transition: background-color 0.1s ease-out;
	  -moz-transition: background-color 0.1s ease-out;
	  -ms-transition: background-color 0.1s ease-out;
	  -o-transition: background-color 0.1s ease-out;
	  transition: background-color 0.1s ease-out;
	}	
		
	#chartButton:hover
	{
	
	  background-color: #6DB566;
	}
	
	#chartButton:active
	{
	
	  background-color: #33712D;
	}
	
	a.chartBtn
	{
	  
	  color: white;
	  display: inline-block;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      text-decoration: none;
	  font-size: 11px;
	}
	
	div.comboBox
	{
	
	  position: relative; 
	  background-color: #ffffff; 
	  width: 300px; 
	  height: 35px; 
	  float: left;
      border-radius: 5px;
      border: 1px solid rgba(100,100,100,0.3);
	}
	
	input[type=text] 
	{
	
	  position: relative;
      display: inline-block;
      font-family: Helvetica, sans-serif;
      text-decoration: none;
      font-size: 80%; 
	  color: #4a3b61;
	  display: inline-block;
      font-family: Helvetica, sans-serif;
      font-weight: bold;
      padding: 1px;
      height: 95%; 
	  width: 80%;
	  border: 0px;
	  border-right: 1px solid rgba(100,100,100,0.3);
	  top: 1px;
	  left: 2px;
   } 
   
   p.filterTitleText
   {
   
      display: inline-block;
      font-family: Helvetica, sans-serif;
      text-decoration: none;
	  font-size: 12px;
	  font-weight: bold;
   }
