#navMenu
{
  position: relative;
  width: auto;
  bottom:10px;
}

#navMenu ul
{

  position: relative;
  width: 100%;
}

#navMenu ul li.sub-menu:hover
{

  background-color: rgba(250, 186, 143, 0.5);	
  
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

#navMenu ul li.sub-menu:active
{

  background-color: rgba(170, 89, 77, 0.7);	
}

#navMenu ul li.has-sub
{

  position: relative;
  right: 23.5%;
  width: 100%;
  padding-bottom: 8px;
}

#navMenu ul li a 
{
  display: inline-block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}

#navMenu ul li a span
{
  position: relative;
  bottom: 5px;
}

#navMenu ul li ul li
{
  
  position: relative;
  list-style-image: url('../../images/navBar/nothingIcon.png');  
  list-style-position: inside; 
  right: 23.5%;
  width: 100%;
  height: 20px;;
}

#navMenu > ul > li > a
{
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

#navMenu > ul > li > ul > li.sub-menu > a
{

  font-size: 11px;
  font-weight: bold;
  color: #fff;  
}

#navMenu  > ul > li.has-sub > a 
{
  text-shadow: 1px 1px 1px #000;
}